/*!*********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js??clonedRuleSet-12.use[1]!./node_modules/_vue-loader@17.0.0@vue-loader/dist/stylePostLoader.js!./node_modules/postcss-loader/dist/cjs.js??clonedRuleSet-12.use[2]!./node_modules/_vue-loader@17.0.0@vue-loader/dist/index.js??ruleSet[0].use[0]!./src/components/tab.vue?vue&type=style&index=0&id=777d1c52&lang=css ***!
  \*********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/

.van-nav-bar__right > .van-nav-bar__text {
  font-size: 12px;
  color: green !important;
}

/*!******************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js??clonedRuleSet-12.use[1]!./node_modules/_vue-loader@17.0.0@vue-loader/dist/stylePostLoader.js!./node_modules/postcss-loader/dist/cjs.js??clonedRuleSet-12.use[2]!./node_modules/_vue-loader@17.0.0@vue-loader/dist/index.js??ruleSet[0].use[0]!./src/components/stickyBottom.vue?vue&type=style&index=0&id=5ddaee30&lang=css ***!
  \******************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/

.stickyBottom {
  position: fixed;
  width: 100%;
  bottom: 0px;
  padding-bottom: 15px;
  padding-top: 8px;
  border-top: 1px solid #cdcdcd;

  background: white;
}
.stickyDiv {
  width: 98%;
  display: flex;
  justify-content: space-around;
  flex-wrap: nowrap;
}
.stickyButtom {
  border-radius: 5px;
  height: 40px;
}

/*!**************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js??clonedRuleSet-12.use[1]!./node_modules/_vue-loader@17.0.0@vue-loader/dist/stylePostLoader.js!./node_modules/postcss-loader/dist/cjs.js??clonedRuleSet-12.use[2]!./node_modules/_vue-loader@17.0.0@vue-loader/dist/index.js??ruleSet[0].use[0]!./src/views/plaseThree/AudioFrequency.vue?vue&type=style&index=0&id=8bfca21e&scoped=true&lang=css ***!
  \**************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/

.custom[data-v-8bfca21e] {
  width: 50%;
  padding-top: 8px;
  margin-right: 5px;
}
.custom-button[data-v-8bfca21e] {
  width: 30px;
  color: #fff;
  font-size: 12px;
  line-height: 20px;
  text-align: center;
  background-color: var(--van-primary-color);
  border-radius: 100px;
}

